.blocks {
    background: linear-gradient(0deg,  rgb(23, 16, 41) 100%, rgb(22, 23, 33) 0%);

}


.title {
display: inline;

}

.title__left {
    font-family: 'Abril Fatface', cursive;
    color: var(--main-color);
    text-align: center;
    font-weight: 400;
    padding: 0 0 0 20px;
    display: inline;
    font-size: 60px;
    align-items: center;
}
        
.title__right {
    color: var(--accent-color);
    text-align:center;
    margin: auto;
    align-items: center;
    width: 340px;
    letter-spacing: 1.8px;
    display: inline;
}






