.blocks {
    background: linear-gradient(0deg,  rgb(23, 16, 41) 100%, rgb(22, 23, 33) 0%);
    padding: 50px 24px 50px 24px ;
}

.title__left {
    font-family: 'Abril Fatface', cursive;
    color: var(--main-color);
    text-align: left;
    font-size: 40px;
    padding: 0 0 0 70px;
    font-weight: lighter;
    
}
        
.title__right {
    font-family: 'Lato', sans-serif;
    color: var(--accent-color);
    text-align:center;
    width: 300px;
    align-items: center;
    margin:auto;
    font-size: 20px;
    
}



