.blocks {
    background: linear-gradient(0deg,  rgb(23, 16, 41) 100%, rgb(22, 23, 33) 0%);
    min-width:320px;
}

.title {
    display: grid;
    grid-template-columns: 1fr;
    position:relative;


}
.title__left {
    font-family: 'Abril Fatface', cursive;
    color: var(--main-color);
    font-size: 80px;
    align-items: flex-start;
    
}    
.title__right {
    color: var(--accent-color);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    justify-content: center;
}


.blocks__card {
    display:grid;
    align-items:center;
    position: relative;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
}

.blocks__card__content {
    background-color: rgb(22, 13, 47);
    margin: auto;
    justify-content: center;

}
.block__image {
    position: relative;
    display: flex;
   
}

.block__image img {
    height:300px;
    width:400px;
}

.block__content {
    flex-grow: 1;
    padding-left:20px;
}

.block__content__title {
    font-family: 'Lato', sans-serif;
    color: var(--accent-color);
    text-align: left;
    font-size: 20px;
    line-height: 1.7;
    margin-left: auto;
    display: flex;
}
.block__content__text {
    font-family: 'Abril Fatface', cursive;
    color: var(--accent-color);
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 0.3em;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
    display: flex;
}
.block__content__info {
    color:aquamarine;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    position: relative;
    max-width: 100%;
    text-align: left;
    display: flex;

}

@media (min-width:760px) {
    .title__left{
        font-size: 50px;
    }
    .blocks__card {
        display: grid;
        grid-template-columns: 1fr;
         gap:5px;
     }

}
@media (min-width: 992px) {
    .title__left{
        font-size: 80px;
    }
    

    .blocks__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
         gap:15px;
     }
}

