.footer {
    background: linear-gradient(0deg, rgb(48, 29, 85) 0%, rgb(22, 23, 33) 100%);
    min-width: 320px;
    height: auto;
}


.get_in_touch_title {
    color: var(--main-color);
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 60px;
    padding: 0 0 0 10px;
}

.get_in_touch_text {
    color: var(--accent-color);
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.8px;
    margin: auto;
    width: 320px;
}

.address {

    min-width: 320px;
    height: auto;
}

.address_title {

    font-family: 'Abril Fatface', cursive;
    color: var(--main-color);
    text-align: left;
    font-size: 40px;
    padding: 0 0 0 70px;
    font-weight: lighter;
}

.address_text {
    color: var(--accent-color);
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.8px;
    margin: auto;
    width: 320px;
}

.contacts {

    min-width: 320px;
    height: auto;
}

.contacts_title {
    font-family: 'Abril Fatface', cursive;
    color: var(--accent-color);
    text-align: left;
    font-size: 40px;
    padding: 0 0 0 70px;
    font-weight: lighter;
}

.get_in_touch {
    color: var(--accent-color);
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.8px;
    margin: auto;
    width: 320px;
}