/* Общие стили для всех элементов */
.footer_bg {
    background: rgb(15, 15, 20);
    min-width: 320px;
    height: auto;
  }

  .footer_title {
    color: var(--main-color);
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    font-size: 60px;
    padding: 0 0 0 10px;
  }

  .footer_description {
    color: var(--accent-color);
    font-family: "Lato", sans-serif;
    letter-spacing: 1.8px;
    margin: auto;
    width: 320px;
  }

  .address_title {
    background: rgb(15, 15, 20);
    font-family: "Abril Fatface", cursive;
    color: var(--main-color);
    text-align: left;
    font-size: 40px;
    padding: 0 0 0 70px;
    font-weight: lighter;
  }

  .address_description {
    color: var(--accent-color);
    font-family: "Lato", sans-serif;
    letter-spacing: 1.8px;
    margin: auto;
    width: 320px;
  }

  .contacts_title {
    font-family: "Abril Fatface", cursive;
    color: var(--main-color);
    text-align: left;
    font-size: 40px;
    padding: 0 0 0 70px;
    font-weight: lighter;
  }

  /* Настройки для экранов шириной от 320px до 767px */
  @media screen and (max-width: 767px) {
    .footer_title {
      font-size: 40px;
      padding: 0 0 0 5px;
    }

    .address_title,
    .contacts_title {
      font-size: 30px;
      padding: 0 0 0 50px;
    }

    .address_description,
    .footer_description {
      width: 100%;
      padding: 0 10px;
    }
  }

  /* Настройки для экранов шириной от 768px до 1199px */
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer_title {
      font-size: 50px;
      padding: 0 0 0 10px;
    }

    .address_title,
    .contacts_title {
      font-size: 35px;
      padding: 0 0 0 70px;
    }

    .address_description,
    .footer_description {
      width: 50%;
      padding: 0 20px;
    }
  }

  /* Настройки для экранов шириной от 1200px и больше */
  @media screen and (min-width: 1200px) {
    .footer_title {
      font-size: 60px;
      padding: 0 0 0 10px;
    }

    .address_title,
    .contacts_title {
      font-size: 40px;
      padding: 