@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@100&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #341d33;
}

:root {
    --h2-color: white;
    --main-color: rgb(255, 255, 255);
    --accent-color: rgb(169, 191, 211);
    --features-button-color: #be61b9;
    --span-color: #BE61B9;
    --bg-sponsors: rgba(255, 255, 255, 0.03);
    --timer-sponsors: #ffffffad;
    --bg-tickets-color: linear-gradient(0deg, rgb(48, 29, 85) 0%, rgb(22, 23, 33) 100%);
    --sub-title-tickets-color: rgb(169, 191, 211);
    --text-tickets-color: rgba(255, 255, 255, 0.65);
    --bg-button-welcome: rgb(23, 16, 41);
    --bg-welcome: linear-gradient(0deg,  rgb(23, 16, 41) 40%, rgb(22, 23, 33, 1) 60%);
    --bg-guests: linear-gradient(to bottom, rgb(11,10,20), rgb(29,19,53));
    --guest-text-color: rgba(255,255,255,0.66);
    --guest-date-color: rgb(169,191,211);
    --guest-name-color: white;
    --guests-title-description: rgb(169,191,211);
    --blok-content-bg: rgb(29, 15, 54);
    --blok-bg-main: linear-gradient(to bottom, rgb(20,14,36), rgb(22,13,48));
    --footer-bg-main: rgb(15, 16, 24);
    --footer-bg-map: rgb(32, 33, 40);
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}
