.our-gallery {
    background: linear-gradient(to bottom, #301D55FA, #0D0B16);
    min-width: 320px;
    height: auto;
  }
  
  .our-gallery__title {
    color: var(--main-color);
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 60px;
    padding: 0 0 0 10px;
  }
  
  .our-gallery__description {
    color: var(--accent-color);
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.8px;
    margin: auto;
    width: 340px;
  }
  
  .our-gallery__additional {
    color: var(--main-color);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 0 20px;
  }
  
  span {
    color: var(--span-color);
  }
  
  .our-gallery__slider {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }
  
  .our-gallery__slider img {
    height: 100%;
    justify-content: space-between;
    padding: 10px;
    object-fit: cover;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .our-gallery__slider {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .img {
      width: 50%;
      padding: 20px;
    }
  }
  
  @media (min-width: 992px) {
    .our-gallery__slider {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .img {
      width: 33%;
    }
  }
  
  @media (min-width: 768px) {
    .our-gallery__text {
      align-items: center;
      display: flex;
      justify-content: space-between;
      text-align: center;
      }
        
      .text {
        width: 50%;
      }
  }
  
  @media (min-width: 992px) {
    .our-gallery__text {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      text-align: center;
      }
        
      .text {
        width: 33%;
      }
  }
  

