.our-gallery {
    background-color: var(--bg-our-gallery-color);
    min-width: 320px;
    height: auto;
  }
  
  .our-gallery__title {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 60px;
    padding: 0 0 0 10px;
  }
  
  .our-gallery__description {
    color: var(--accent-color);
    letter-spacing: 1.8px;
    margin: auto;
    width: 340px;
  }
  
  .our-gallery__additional {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 0 20px;
  }
  
  span {
    color: var(--span-color);
  }
  
  .our-gallery__slider {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }
  
  .our-gallery__slider img {
    height: 100%;
    justify-content: space-between;
    padding: 10px;
    object-fit: cover;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .our-gallery__slider {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .img {
      width: 50%;
      padding: 20px;
    }
  }
  
  @media (min-width: 992px) {
    .our-gallery__slider {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .img {
      width: 33%;
    }
  }
  
  @media (min-width: 768px) {
    .our-gallery__text {
      align-items: center;
      display: flex;
      justify-content: space-between;
      text-align: center;
      }
        
      .text {
        width: 50%;
      }
  }
  
  @media (min-width: 992px) {
    .our-gallery__text {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      text-align: center;
      }
        
      .text {
        width: 33%;
      }
  }
  
  /* quote section */
  .quote {
    background-attachment: fixed;
    background-image: url('../img/quote-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-width: 320px;
  }
  
  .quote__image {
    display: block;
    height: 100%;
    margin: auto;
    width: auto;
  }
  
  .quote__title {
    display: block;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 40px;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 150px; 
    padding-bottom: 150px;
  }
  
  .quote__caption {
    display: block;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 16px;
    padding-top: 30px; 
    padding-bottom: 30px;
  }
