.our-gallery {
  background: var(--our-gallery-bg-main);
}

.our-gallery__main {
  min-width: 320px;
  height: auto;
  padding-bottom: 90px;
  padding-top: 50px;
}

.our-gallery__text {
  display: grid;
  justify-content: space-around;
  height: 270px;
  width: 100%;
  padding: 2rem;
}
.our-gallery__title {
  color: var(--main-color);
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 60px;
  margin: auto;
  padding: 0 0 0 30px;
  width: 100%;
  text-align: center;
}

.our-gallery__description p {
  color: var(--accent-color);
  font-family: "Lato", sans-serif;
  line-height: 27px;
  letter-spacing: 1.8px;
  font-size: 18px;
}

.our-gallery__description {
  width: 100%;
}

.our-gallery__additional p {
  color: var(--main-color);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
}

.our-gallery__additional {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

span {
  color: var(--span-color);
}

@media only screen and (max-width: 760px) {
  .our-gallery__text {
    justify-content: center;
  }
  .our-gallery__title {
    font-size: 34px;
  }
  .our-gallery__description {
    padding-left: 10px;
    font-size: 14px;
  }

  .our-gallery__additional {
    font-size: 14px;
  }
}

@media only screen and (max-width: 977px) {
  .our-gallery__text {
    justify-content: center;
  }
  .our-gallery__additional {
    padding: 0 10px;
  }
}

.our-gallery__slider {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  position: relative;
  overflow: hidden;
}

.our-gallery__slides {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  justify-content: center;
  min-height: 420px;
  max-width: 100%;
  width: 25%;
}

.our-gallery__slides img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

@media (min-width: 320px) {
  .our-gallery__slider {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .our-gallery__slides img {
    height: 220px;
    width: auto;
    margin: 0 auto;
    object-fit: cover;
  }
}

@media (min-width: 760px) {
  .our-gallery__slider {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .our-gallery__slides img {
    height: 220px;
    width: auto;
    margin: 0 auto;
    object-fit: cover;
  }

  .our-gallery__text {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    height: auto;
  }

  .element {
    display: flex;
    padding: 10px;
    align-items: center;
  }

  .our-gallery__text {
    padding: 3rem;
  }
}

@media (min-width: 977px) {
  .our-gallery__slides {
    width: 33%;
  }
}

.our-gallery__dots {
  position: absolute;
  cursor: pointer;
  bottom: 0%;
  left: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #bbb;
}

.dot.active {
  background-color: #717171;
}

@media screen and (min-width: 320px) {
  .our-gallery__dots {
    transform: translateX(-50%);
  }
}
