.sponsors__title {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    letter-spacing: 1.8px;
    color: #fff;
}

.sponsors__description {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 28.8px;
    color: rgb(169,191,211);
    margin-top: 25px;
}
.sponsors {
    background: url(../img/mountains.png);
}

.sponsors__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.sponsors__img img {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}
