.sponsors {
    background-color: #bd19d3;
    padding: 5px;
}
.sponsors_img img {
    margin: auto;
    width: 10%;
}

/* .column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} */