.welcome {
    background: linear-gradient(0deg,  rgb(23, 16, 41) 100%, rgb(22, 23, 33) 0%);
    padding: 50px 24px 50px 24px;
    text-align: left;
    min-width: 320px;
    font-family: 'Lato',sans-serif;
}
.welcome__cards {
    display: flex;
    align-items: center;
    order: 1;
}
.cards__image {
    width: 50px;
    margin-right: 10px;
    float: left;
}
.cards__title {
    color: var(--main-color);
    display: inline-block;
}
.cards__text {
    color: var(--text-tickets-color);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    display: inline-block;
    display: block;
}
.welcome__information {
    width: 100%;
    display: inline-block;
    
}
.welcome__information-image {
    width: 334.4px;
    height: 403.28px;
    padding-top: 60px;
    float: left;
    margin-right: 20px;
}
.welcome__informayion-title {
    color: var(--main-color);
    display: block;
    margin-top: 130px;
}
.welcome__information-party-nevada {
    color: var(--accent-color);
    display: block;
    margin-top: 30px;
}
.welcome__information-text {
    color:  var(--text-tickets-color);
    display: block;
    margin-top: 30px;
}
.welcome__button {  
    background-color: rgb(23, 16, 41);
    border-radius: 2px;
    border: 3px solid var(--h2-color);
    color: var(--main-color);
    cursor: pointer;
    font-weight: 700;
    padding: 16px 25px;
    display: block;
    margin-top: 30px;
}
    
